body{
    background: rgb(89,82,210);
    background: linear-gradient(90deg, rgba(89,82,210,1) 8%, rgba(127,216,217,0.8435749299719888) 35%, rgba(6,75,157,1) 57%, rgba(2,226,205,1) 86%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    width: 100%;
    margin-left: 35%;
}

main{
    background-color: rgb(171, 236, 209);
    width: 25%;
    text-align: center;


    &__form{
        text-align: center;
        color: white;
    }
}